<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="backend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="erp.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="erp.Model.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="ImageGenConfiguration" type="ImageGen.ImageGenConfigurationHandler,ImageGen" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><section name="jsnlog" type="JSNLog.ConfigurationSectionHandler, JSNLog" requirePermission="false" /></configSections>
  <connectionStrings>
    <!--<add name="erp.Model.Dal.New.Properties.Settings.connString" connectionString="server=MYSQL5005.site4now.net;Port=3306;User Id=9fa426_erp;password=1aZke1mmPLWm;Charset=utf8;Persist Security Info=True;database=db_9fa426_erp" providerName="MySql.Data.MySqlClient" />-->
    <add name="erp.Model.Dal.New.Properties.Settings.connString" connectionString="server=localhost;Port=3306;User Id=webapp;password=;Charset=utf8;Persist Security Info=True;database=erp" providerName="MySql.Data.MySqlClient" />
    
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="aspnet:MaxHttpCollectionKeys" value="10001" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="15000000" />
    <add key="MvcMailer.BaseURL" value="" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="DefaultPage" value="http://localhost:1535/home/new" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <customErrors mode="RemoteOnly" />
    <globalization culture="en-GB" uiCulture="en-GB" />
    <roleManager cacheRolesInCookie="true" defaultProvider="erpRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="erpRoleProvider" type="backend.erpRoleProvider" />
      </providers>
    </roleManager>
    <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,:,\,?" maxRequestLength="50000" maxQueryStringLength="10000" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" cookieless="UseCookies" name="backend" />
    </authentication>
    <authorization>
      <deny users="?" />      
    </authorization>
    
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="backend.App_GlobalResources" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="backend.Models" />
        <add namespace="erp.Model" />
        <add namespace="company.Common" />
      </namespaces>
    </pages>
    <machineKey validationKey="4343B048AD5FBE6DA01EAF30B580EBA31E32787C4BC57BFA15A64C7CC4BA7390152E4271EE820EC4C6669354BD792480E1F52CC1A6ED0EC5A5F3A5F3B95A93E2" decryptionKey="A429F3F36AEF16449A79E043095FEFAD4C01C8B1F40660DE3EDEF7322E052E4B" validation="SHA1" decryption="AES" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    
  <httpHandlers>
			<add verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog" />
		</httpHandlers></system.web>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="RoleManager" />-->
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="500"/>
      <error statusCode="500" responseMode="ExecuteURL" path="/Home/Error"/>
    </httpErrors>-->
    <staticContent>
      <remove fileExtension=".dwg" />
      <mimeMap fileExtension=".dwg" mimeType="application/acad" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="5000" maxUrl="1000" />
      </requestFiltering>
    </security>
    <handlers>
      
      
      
      
      
      
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /><add name="LoggerHandler" verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog" resourceType="Unspecified" preCondition="integratedMode" /><add name="LoggerHandler-Classic" path="*.logger" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode" /></handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <ImageGenConfiguration configSource="config\ImageGen.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.18.0" newVersion="8.0.18.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.17.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <applicationSettings>
    <backend.Properties.Settings>
      <setting name="CommentFiles_SessionVar" serializeAs="String">
        <value>Comment_Files</value>
      </setting>
      <setting name="SiteVisit_Price" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="Enquiries_FilesFolder" serializeAs="String">
        <value>/Files/</value>
      </setting>
      <setting name="Enquiries_MaxFileSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SMTPPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="SiteVisits_FilesFolder" serializeAs="String">
        <value>/SiteVisitsFiles/</value>
      </setting>
      <setting name="AfterSalesCC" serializeAs="String">
        <value />
      </setting>
      <setting name="AfterSalesBcc" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleMap_Key" serializeAs="String">
        <value></value>
      </setting>
      <setting name="dealermanagement_url" serializeAs="String">
        <value>/_user_application/store_management.asp</value>
      </setting>
      <setting name="DealerStore_MaximumPhotos" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="dealerImagesFolder" serializeAs="String">
        <value>/images/dealers/</value>
      </setting>
      <setting name="StoreOpeningTimeValues" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>closed</string>
            <string>07:00</string>
            <string>07:30</string>
            <string>08:00</string>
            <string>08:30</string>
            <string>09:00</string>
            <string>09:30</string>
            <string>10:00</string>
            <string>10:30</string>
            <string>11:00</string>
            <string>11:30</string>
            <string>12:00</string>
            <string>12:30</string>
            <string>13:00</string>
            <string>13:30</string>
            <string>14:00</string>
            <string>14:30</string>
            <string>15:00</string>
            <string>15:30</string>
            <string>16:00</string>
            <string>16:30</string>
            <string>17:00</string>
            <string>17:30</string>
            <string>18:00</string>
            <string>18:30</string>
            <string>19:00</string>
            <string>20:00</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="StoreClosingTimeValues" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>closed</string>
            <string>08:00</string>
            <string>09:00</string>
            <string>10:00</string>
            <string>11:00</string>
            <string>12:00</string>
            <string>13:00</string>
            <string>14:00</string>
            <string>15:00</string>
            <string>16:00</string>
            <string>17:00</string>
            <string>17:30</string>
            <string>18:00</string>
            <string>18:30</string>
            <string>19:00</string>
            <string>20:00</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="NewDealer_Cc" serializeAs="String">
        <value />
      </setting>
      <setting name="VAT" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="imagesRootFolder" serializeAs="String">
        <value>/images/upload/</value>
      </setting>
      <setting name="distributors_with_old_design" serializeAs="String">
        <value>208,247</value>
      </setting>
      <setting name="returns_fileroot" serializeAs="String">
        <value>/images/upload/feedback</value>
      </setting>
      <setting name="ManualImagesRoot" serializeAs="String">
        <value>/images/manual/</value>
      </setting>
      <setting name="ManualImagesUpload" serializeAs="String">
        <value>/images/manual/upload/</value>
      </setting>
      <setting name="EnableNewDesignForHeadDistributor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Inspectors_Exclusions" serializeAs="String">
        <value>282</value>
      </setting>
      <setting name="EventLogSource" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TranslationEditors" serializeAs="String">
        <value>192</value>
      </setting>
      <setting name="StatsKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Inspectors_SeeUnallocated" serializeAs="String">
        <value>282</value>
      </setting>
      <setting name="Analytics_OtherCategories_ids" serializeAs="String">
        <value>8,11,14,17</value>
      </setting>
      <setting name="Analytics_ImagesFolder" serializeAs="String">
        <value>/images/analytics</value>
      </setting>
      <setting name="Analytics_ExcludedDistributors" serializeAs="String">
        <value>273</value>
      </setting>
      <setting name="mobileAppImagesSubfolder" serializeAs="String">
        <value>appimages</value>
      </setting>
      <setting name="AdminKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="npdFilesFolders" serializeAs="String">
        <value>/npdFiles</value>
      </setting>
      <setting name="StockOrderCalculationThreshold" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AnalyticsLogoUK" serializeAs="String">
        <value>Ukbbl.gif</value>
      </setting>
      <setting name="Analytics_BrandSales_NumOfProductsPerBrand" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Analyitics_BrandSales_CleargreenTrays" serializeAs="String">
        <value>907</value>
      </setting>
      <setting name="StatsKey2" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Analyitics_BrandSales_ClearwaterBaths" serializeAs="String">
        <value>201</value>
      </setting>
      <setting name="Dealer_BrandsNoEmail" serializeAs="String">
        <value>7,8,9,10,3,5</value>
      </setting>
      <setting name="nondistributors_with_new_design" serializeAs="String">
        <value />
      </setting>
      <setting name="Feedback_subscribers_5" serializeAs="String">
        <value>1,2,282</value>
      </setting>
      <setting name="Feedback_pg_chart_width" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="Feedback_pg_chart_height" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Feedback_subscribers_6" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StockSummaryChart_width" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="StockSummaryChart_height" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Reports_FilesFolder" serializeAs="String">
        <value>/Files</value>
      </setting>
      <setting name="SurveyChart_Bar_Width" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="SurveyChart_Bar_Height" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="SurveyChart_Pie_Width" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="SurveyChart_Pie_Height" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="StockSummary_FactoriesIgnoreStock" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="OMExport_9RefClients" serializeAs="String">
        <value>45,55,149,321,1105</value>
      </setting>
      <setting name="SalesRepGraphsFolder" serializeAs="String">
        <value>/images/salesrep/graphs/</value>
      </setting>
      <setting name="SalesRepGraphWidth" serializeAs="String">
        <value>570</value>
      </setting>
      <setting name="SalesRepGraphHeight" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="CWImportSalesLowerLimit" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PrintCreditNote_ClientsWithBSLogo" serializeAs="String">
        <value>37</value>
      </setting>
      <setting name="BrandDocuments_IncludedClients" serializeAs="String">
        <value>42</value>
      </setting>
      <setting name="SalesRep_SqFeetValues" serializeAs="String">
        <value>&lt;1500,1500-3000,3000-5000,&gt;5000</value>
      </setting>
      <setting name="SalesRep_TurnoverValues" serializeAs="String">
        <value>&lt;500k,500k-1m,1m-2m,&gt;2m</value>
      </setting>
      <setting name="BulkDownLoadMultipleUsers" serializeAs="String">
        <value>200,37</value>
      </setting>
      <setting name="SalesRep_Radiuses" serializeAs="String">
        <value>5,10,25,50,75</value>
      </setting>
      <setting name="SalesRepGraphWidth2" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="StockAllocationClients" serializeAs="String">
        <value>45,55,149,53</value>
      </setting>
      <setting name="ReturnsImagesFolder" serializeAs="String">
        <value>/images/clients/returns/</value>
      </setting>
      <setting name="No_image" serializeAs="String">
        <value>/images/no_image.jpg</value>
      </setting>
      <setting name="Issue_MaxFile" serializeAs="String">
        <value>1.2</value>
      </setting>
      <setting name="SiteVisits_MaxFileSize" serializeAs="String">
        <value>1.2</value>
      </setting>
      <setting name="Image_BrandId" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Feedback_subscribers" serializeAs="String">
        <value>1,2,282</value>
      </setting>
      <setting name="Feedback_Subject" serializeAs="String">
        <value>{0}-New product feedback submitted - {1}</value>
      </setting>
      <setting name="Product_feedback_body" serializeAs="String">
        <value>Client: {0}&lt;br&gt;Factory: {1}&lt;br&gt;&lt;br&gt;Product: {2} - {3}&lt;br&gt;&lt;br&gt;What is the specific issue? {4} &lt;br&gt;&lt;br&gt;What is /are the specific question/s?  {5}  &lt;br&gt;&lt;br&gt;What is your suggestion for the resolution of this issue?  {6}&lt;br&gt;&lt;br&gt;Resolution:  {7}&lt;br&gt;&lt;br&gt;&lt;br&gt;Please check the system for full details&lt;br&gt;&lt;br&gt;&lt;br&gt;This is an automated message. Please do not reply to it</value>
      </setting>
      <setting name="DownloadGroupType" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SalesRep_TopProducts" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SalesRep_PieSliceThreshold" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ClaimsReportImage" serializeAs="String">
        <value>/Images/updates/</value>
      </setting>
      <setting name="Analytics_PreviousYearSeriesColor" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="Analytics_CurrentYearSeriesColor" serializeAs="String">
        <value>LightSkyBlue</value>
      </setting>
      <setting name="Analytics_PreviousYearBudgetColor" serializeAs="String">
        <value>102, 255, 102</value>
      </setting>
      <setting name="Analytics_CurrentYearBudgetColor" serializeAs="String">
        <value>0, 153, 51</value>
      </setting>
      <setting name="Analytics_NextYearSeriesColor" serializeAs="String">
        <value>255, 51, 0</value>
      </setting>
      <setting name="Analytics_NextYearThreshold" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="DealerStatus_Brands" serializeAs="String">
        <value>1,2,4,11</value>
      </setting>
      <setting name="Analytics_BrochureRequest_Months" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Analytics_Brochure_WebSites" serializeAs="String">
        <value>1,2,4,11</value>
      </setting>
      <setting name="InspectionCategories" serializeAs="String">
        <value>Appearance,Dimension,Function,Material,Packaging</value>
      </setting>
      <setting name="LogFilesPath" serializeAs="String">
        <value>d:\projects\data\logs</value>
      </setting>
      <setting name="BingMapKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Report_BrochureRequests_ImagesFolder" serializeAs="String">
        <value>/Images/report/monthly_brochure_requests</value>
      </setting>
      <setting name="DealerExport_Brands" serializeAs="String">
        <value>1,2,4,11</value>
      </setting>
      <setting name="DealerExport_Distributors" serializeAs="String">
        <value>79,85,211,103,95,97</value>
      </setting>
      <setting name="CustProductImagesRoot" serializeAs="String">
        <value>/images/upload/cprod/image/</value>
      </setting>
      <setting name="MastProductImagesRoot" serializeAs="String">
        <value>/images/upload</value>
      </setting>
      <setting name="MastProductInstructionsRoot" serializeAs="String">
        <value>/images/upload/tech/</value>
      </setting>
      <setting name="CustProductDrawingsRoot" serializeAs="String">
        <value>/images/upload/cprod/dwg/</value>
      </setting>
      <setting name="CustProductDrawingsPngRoot" serializeAs="String">
        <value>/images/upload/cprod/dwg_891</value>
      </setting>
      <setting name="MastProductDrawingsRoot" serializeAs="String">
        <value>/images/upload/tech/dwg</value>
      </setting>
      <setting name="MastProductDrawingsPngRoot" serializeAs="String">
        <value>/images/upload/tech/dwg_891</value>
      </setting>
      <setting name="CustProductInstructionsRoot" serializeAs="String">
        <value>/images/upload/cprod/instructions/</value>
      </setting>
      <setting name="BrandCode" serializeAs="String">
        <value>AR</value>
      </setting>
      <setting name="FirstDealerId" serializeAs="String">
        <value>464</value>
      </setting>
      <setting name="NewDealerEditUserIds" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ApplicationKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ApplicationSecret" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Delay_grabzit" serializeAs="String">
        <value>29000</value>
      </setting>
      <setting name="BrandImages_folder" serializeAs="String">
        <value>/images/report/brand_baners/</value>
      </setting>
      <setting name="InspectionDownload_exludedDocType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ChangeNoticeRootFolder" serializeAs="String">
        <value>/images/upload/changenotices</value>
      </setting>
      <setting name="TemplatesFolder" serializeAs="String">
        <value>/templates/</value>
      </setting>
      <setting name="MeetingFilesFolder" serializeAs="String">
        <value>/MeetingFiles/</value>
      </setting>
      <setting name="NewDealerDefaultSiteId" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="InspectionImagesFolder" serializeAs="String">
        <value>/images/upload/qc/</value>
      </setting>
      <setting name="Product_HideInReports" serializeAs="String">
        <value>G7 2TH,G12</value>
      </setting>
      <setting name="CustomersForOrderingPatterns" serializeAs="String">
        <value />
      </setting>
      <setting name="InstructionExternaFolder" serializeAs="String">
        <value>/images/upload/instructions</value>
      </setting>
      <setting name="InspectionImagesPre2013Folder" serializeAs="String">
        <value>qc_archive/pre2013</value>
      </setting>
      <setting name="aspsite_root" serializeAs="String">
        <value>http://server1:8082</value>
      </setting>
      <setting name="EBInvoiceClientExceptions" serializeAs="String">
        <value>333</value>
      </setting>
      <setting name="InspectionReport_ClientsForSupplierCodeReplacement" serializeAs="String">
        <value>333</value>
      </setting>
      <setting name="BrandsWithAnalyticsOption" serializeAs="String">
        <value>3,6,11</value>
      </setting>
      <setting name="ClaimsReportImagesTempFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ITFeedback_ListLimit" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Feedback_subscribers_7" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InspectionImages2013Folder" serializeAs="String">
        <value>qc_archive/2013</value>
      </setting>
      <setting name="NonBrandInvoices_IgnoredClients" serializeAs="String">
        <value>200,292,37,333</value>
      </setting>
      <setting name="BulkDownload_CombineFactories" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OMExport_ExcludedDistributors" serializeAs="String">
        <value>43</value>
      </setting>
      <setting name="DealerExport_InternationalDistributors" serializeAs="String">
        <value>79,85,211,103,95,97,238</value>
      </setting>
      <setting name="imagesFolder_HiRes" serializeAs="String">
        <value>tech/dwg/large_converted/</value>
      </setting>
      <setting name="Disabled_ForTestingOnStaging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplicationId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InspectionImages2014Folder" serializeAs="String">
        <value>qc_archive/2014</value>
      </setting>
      <setting name="Guarantee_10y" serializeAs="String">
        <value>10 years domestic installations</value>
      </setting>
      <setting name="Guarantee_1y" serializeAs="String">
        <value>1 year commercial installations</value>
      </setting>
      <setting name="TrackingNumberFilesFolder" serializeAs="String">
        <value>/Files</value>
      </setting>
      <setting name="connExcelNew" serializeAs="String">
        <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties="Excel 12.0 Xml;HDR=YES;IMEX=1";</value>
      </setting>
      <setting name="connExcel" serializeAs="String">
        <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties="Excel 8.0"</value>
      </setting>
      <setting name="DealerConfirmed_CC" serializeAs="String">
        <value />
      </setting>
      <setting name="OnlineTrainingFiles" serializeAs="String">
        <value>/images/upload/onlinetraining/</value>
      </setting>
      <setting name="HoursAdd_forUsaTime" serializeAs="String">
        <value>-13</value>
      </setting>
      <setting name="returns_USfileroot" serializeAs="String">
        <value>/images/upload/USfeedback</value>
      </setting>
      <setting name="DealerSequenceExcludedCountries" serializeAs="String">
        <value>GB,UK,IE,US,CA</value>
      </setting>
      <setting name="FeedbackSubscribers_M_CA" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NrImagesRootUrl" serializeAs="String">
        <value>/images/upload/nr</value>
      </setting>
      <setting name="Feedback_Subject_Rejection" serializeAs="String">
        <value>{0}- Product feedback rejection submitted - {1}</value>
      </setting>
      <setting name="SMTPServerPortNumber" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SMTPSslEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TestMails" serializeAs="String">
        <value />
      </setting>
      <setting name="NoneEmail" serializeAs="String">
        <value>none@none.com</value>
      </setting>
      <setting name="Ammara_BrandId" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="apimap_key" serializeAs="String">
        <value>AIzaSyCu3508i9tm_HHGSLlzoXiLqgp-9B-5YKc </value>
      </setting>
      <setting name="sageApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="sageApiUrl" serializeAs="String">
        <value>http://localhost:60375</value>
      </setting>
      <setting name="slaveHostApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="UsCallLog_fileroot" serializeAs="String">
        <value>/images/upload/us_call_log</value>
      </setting>
      <setting name="CreditNotes_CompanyMappings" serializeAs="String">
        <value>283;79</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>mail.bigcompany.com</value>
      </setting>
      <setting name="SMTPAccount" serializeAs="String">
        <value>enquiries@bigcompany.com</value>
      </setting>
      <setting name="DealerImagePolicyLink" serializeAs="String">
        <value>http://www.bigcompany.com/dealer/imagepolicy?id={0}</value>
      </setting>
      <setting name="AnalyticsLogoNonUK" serializeAs="String">
        <value>Logo.jpg</value>
      </setting>
      <setting name="Feedback_To" serializeAs="String">
        <value>technical@bigcompany.com</value>
      </setting>
      <setting name="Feedback_From" serializeAs="String">
        <value>reports@bigcompany.com</value>
      </setting>
      <setting name="OrderQuantityAnalysis_to" serializeAs="String">
        <value>ben@bigcompany.com</value>
      </setting>
      <setting name="EnquiriesFromAccount" serializeAs="String">
        <value>showroom@bigcompany.com</value>
      </setting>
      <setting name="FromAccount" serializeAs="String">
        <value>info@bigcompany.com</value>
      </setting>
      <setting name="LogosFolder" serializeAs="String">
        <value>https://bigcompany.com/clients/logos/</value>
      </setting>
      <setting name="DebugMailReceiver" serializeAs="String">
        <value>david@bigcompany.com</value>
      </setting>
      <setting name="AutoUpdatersAppInfoMail" serializeAs="String">
        <value>info@bigcompany.com</value>
      </setting>
      <setting name="Feedback_Bcc" serializeAs="String">
        <value>tvrtko@bigcompany.com</value>
      </setting>
      <setting name="NewDealer_Bcc" serializeAs="String">
        <value>ben@bigcompany.com</value>
      </setting>
      <setting name="NewDealer_Bcc1" serializeAs="String">
        <value>ben@bigcompany.com</value>
      </setting>
      <setting name="Feedback_Cc" serializeAs="String">
        <value>david@bigcompany.com</value>
      </setting>
      <setting name="NewDealer_EmailRecipients" serializeAs="String">
        <value>monica@bigcompany.com</value>
      </setting>
    </backend.Properties.Settings>
    <erp.Model.Properties.Settings>
      <setting name="MaxComponents" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MasterDistributors" serializeAs="String">
        <value>45,55,149,292</value>
      </setting>
      <setting name="HeadDistributors" serializeAs="String">
        <value>42</value>
      </setting>
      <setting name="AfterSalesMailAccount" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Crosswateruser_id" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="OrderedProductsHistoryInterval" serializeAs="String">
        <value>36</value>
      </setting>
    </erp.Model.Properties.Settings>
    <erp.Model.DAL.Properties.Settings>
      <setting name="MaxComponents" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MasterDistributors" serializeAs="String">
        <value>45,55,149</value>
      </setting>
      <setting name="HeadDistributors" serializeAs="String">
        <value>42</value>
      </setting>
      <setting name="AfterSalesMailAccount" serializeAs="String">
        <value>aftersales@crosswater-holdings.co.uk</value>
      </setting>
      <setting name="Crosswateruser_id" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="OrderedProductsHistoryInterval" serializeAs="String">
        <value>36</value>
      </setting>
      <setting name="DefaultExcludedContainers" serializeAs="String">
        <value>3,4,5,7</value>
      </setting>
      <setting name="DefaultTimeout" serializeAs="String">
        <value>300</value>
      </setting>
    </erp.Model.DAL.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IContainerLoadingService" maxReceivedMessageSize="50000000" sendTimeout="00:03:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9357/Containerservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContainerLoadingService" contract="ContainerLoadService.IContainerLoadingService" name="BasicHttpBinding_IContainerLoadingService" />
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="enquiries@bigcompany.com">
        <network enableSsl="false" host="mail.bigcompany.com" port="25" userName="enquiries@bigcompany.com" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <elmah>
    <security allowRemoteAccess="1" />
    <errorMail from="info@bigcompany.com" to="tvrtko@bigcompany.com" cc="david@bigcompany.com, josip@bigcompany.com" subject="asaq2mvc site Error" async="true" smtpPort="25" smtpServer="mail.bigcompany.com" userName="enquiries@bigcompany.com" password="" />
  </elmah>
  <location path="elmah">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Elmah.v2.ElmahLoggerFactoryAdapter, Common.Logging.Elmah.v2">
        <arg key="MinLevel" value="all" />
      </factoryAdapter>
    </logging>
  </common>
  <jsnlog productionLibraryPath="~/Scripts/jsnlog.min.js">
    <consoleAppender name="consoleAppender" />
    <ajaxAppender name="ajaxAppender" />
    <logger appenders="ajaxAppender;consoleAppender" />
  </jsnlog>
</configuration>
