
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-body">
                    <section class="panel general">
                            <form>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Factory:</label>
                                            <select class="form-control" ng-model="factory_id" ng-options="f.user_id as f.factory_code for f in factories">
                                                <option value="">ALL</option>
                                            </select>
                                            <span>{{insp.factory}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Client:</label>
                                            <select class="form-control" ng-model="client_id" ng-options="c.user_id as c.customer_code for c in clients">
                                                <option value="">ALL</option>
                                            </select>
                                            <span>{{insp.client}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>From:</label>
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="start_date" datepicker-options="dateOptions"
                                                       is-open="datepickers.startdate" />
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            ng-click="openpicker('startdate')">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>

                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>To:</label>
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="end_date" datepicker-options="dateOptions"
                                                       is-open="datepickers.enddate" />
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            ng-click="openpicker('enddate')">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                 </div>
                                <div class="row">                                    
                                    <div class="col-md-12">
                                            <button class="btn btn-info pull-right" ng-click="filterInspections()">Search</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-info pull-left" ng-click="create()" ng-show="role == 'fc'">Create SI</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="maintable" datatable="ng" class="table-condensed table-hover m-t-15"  data-page-length='50' dt-options="tableOptions" dt-instance="dtInstance">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Factory</th>
                                                    <th>Client</th>
                                                    <th>SI number</th>
                                                    <th>Inspection date</th>
                                                    <th>Subject</th>
                                                    <th>Status</th>
                                                    <th style="text-align:center;" ng-show="role == 'fc'">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="clickable" ng-repeat="i in inspections" ng-click="edit(i)">
                                                    <td>{{i.id}}</td>
                                                    <td>{{i.factory}}</td>
                                                    <td>{{i.client}}</td>
                                                    <td>{{i.computedCode}}</td>
                                                    <td>{{displayDate(i.startdate)}}</td>
                                                    <td>{{i.subject}}</td>
                                                    <td>
                                                        <a ng-click="$event.stopPropagation();" ng-href="{{getReportLink(i)}}" target="_blank" ng-show="i.insp_status==inspectionStatus.reportSubmitted">View report</a>
                                                        <span ng-show="i.insp_status!=inspectionStatus.reportSubmitted"> {{getStatusTextFromCode(i.insp_status)}}</span>
                                                    </td>
                                                    <td ng-show="role == 'fc'" style="text-align:center;"><a title="Delete"><i ng-click="delete(i); $event.stopPropagation();" class="fa fa-times fa-2x" aria-hidden="true"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </form>            
                    </section> <!--panel general-->
                </div> <!--panel body-->
            </header>
        </section>
    </div>
</div>  