<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit sales forecasts</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <app-salesforecast [forecasts]="data" [allowMonthChange]="allowMonthChange"></app-salesforecast>
  </div>
  
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" (click)="ok()">Update</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  