<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="asaq2.WebSites.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <asaq2.WebSites.Common.Properties.Settings>
            <setting name="SMTPServer" serializeAs="String">
                <value>mail.bathroomsourcing.com</value>
            </setting>
            <setting name="SMTPAccount" serializeAs="String">
                <value>enquiries@bathroomsourcing.com</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value>yp54JQ7D1kZ7KvI</value>
            </setting>
            <setting name="ImageDefaulttypeId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DebugMailReceiver" serializeAs="String">
                <value>david@bathroombrandsit.com</value>
            </setting>
            <setting name="DebugCountryIp" serializeAs="String">
                <value>HR</value>
            </setting>
            <setting name="RemoveFilesType" serializeAs="String">
                <value>25,26,27</value>
            </setting>
        </asaq2.WebSites.Common.Properties.Settings>
    </applicationSettings>
</configuration>