@model TechnicalDataReportModel

@{

}

@section head
{
    @Styles.Render("~/Content/bootstrapStyle/bootstrap")
    <style>
        .sub-title{
            margin:5px;
        }
        .main-title{
            padding-top:55px;
            padding-bottom:25px;
        }
        .row{
            padding-bottom:25px;
        }
    </style>
}

<h2 class="main-title">Technical data report</h2>
@using (Html.BeginForm("GenerateTechnicalDataReport", "Product",FormMethod.Get, new {target = "_blank"})) {
    @Html.HiddenFor(m=>m.ClientIds)
<div class="form-group row">
    <div class="col-xs-8 col-sm-3 col-lg-2  pull-left sub-title"><span>Product subcategory: </span></div>
    <div class="col-xs-8 col-sm-4 col-lg-3"> @Html.DropDownListFor(m => m.sub_category, new SelectList(Model.Subcategories, "cat2_code", "cat2_desc"), new { @class = "form-control" }) </div>
    <div class="col-xs-8 col-sm-2"><input class="btn btn-defaul" type="submit" value="Generate" /></div>

</div>
}

