@model List<asaq2.Model.Inspv2_template>


<h2>Criteria templates</h2>

@Html.ActionLink("Add new","TemplateEdit",new {id=0})
<table class="table">
    <tr class="table_headerrow">
        <td>id</td>
        <td>Name</td>
        <td></td>
    </tr>
    @{
        var counter = 0;
    }
    @foreach (var t in Model)
    {
        <tr class="tablerow@(counter++%2==0 ? "" : "_alt")">
            <td>@t.id</td>
            <td>@t.name</td>
            <td>@Html.ActionLink("Edit","TemplateEdit",new {t.id})</td>
        </tr>
    }
</table>
