<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="asaq2.Model.Dal.New.Test.Properties.Settings.connString" connectionString="server=localhost;Port=3306;User Id=root;password=root;Persist Security Info=True;database=asaq" />
      <add name="asaq2.Model.DAL.Properties.Settings.connString" connectionString="server=localhost;Port=3306;User Id=root;password=root;Persist Security Info=True;database=asaq" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
