<div loading class="loading-dialog"></div>
<h2 ng-if="types.showTest">{{test}} - dealerListView.html</h2>
<div class="row">
    <!-- LEFT SIDE -->
    <div class="col-lg-6 col-xs-12">
        <section class="panel" style="margin-bottom:8px">
            <header class="panel-heading">
                DEALERS LIST
                <div class="input-group pull-right" style="margin-top:-25px">
                    <input type="text"
                           ng-model="searchDealers"
                           name="table_search"
                           class="form-control input-sm pull-right"
                           style="width: 250px;"
                           placeholder="Search by name or postcode" />
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </header>
            <div ng-if="searchDealers.length>0" class="panel-body" style="max-height:250px;overflow:scroll;overflow-x:hidden;padding-top:0px;">
                <section class="panel general">
                    <table class="table table-condensed table-striped m-t-15" style="margin-top:0;font-size:13px">
                        <thead>
                            <tr>
                                <!--<th style="pointer-events:none;width:30px">Nr</th>-->
                                <th style="pointer-events:none;width:180px">Dealer Name</th>
                                <th style="pointer-events:none;min-width:300px">Address</th>
                                <th style="width:110px; pointer-events:none">Contact/E-mail</th>
                                <th style="pointer-events:none;width:100px">Telephone</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="dealer in dealers | filter : searchDealers">
                                <!--<td style="width:30px">{{$index+1}}</td>-->
                                <td><a ui-sref="detail({id:dealer.customer})">{{dealer.name}}</a></td>
                                <td>{{dealer.address1}} - {{dealer.town_city}}</td>
                                <td>{{dealer.address4}} </td>
                                <td>{{dealer.address5}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!--<table datatable="ng"
                           class="table table-striped m-t-15"
                           dt-options="tableOptions"
                          >
                        <thead>
                            <tr>
                                <th style="pointer-events:none;width:30px">Nr</th>
                                <th style="pointer-events:none">Dealer Name</th>
                                <th style="pointer-events:none;min-width:300px">Address</th>
                                <th style="width:110px; pointer-events:none">Contact/E-mail</th>
                                <th style="pointer-events:none;width:80px">Telephone</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="dealer in dealers | filter : searchDealers">
                                <td style="width:30px">{{$index+1}}</td>
                                <td><a ui-sref="detail({id:dealer.customer})">{{dealer.name}}</a></td>
                                <td>{{dealer.address1}} - {{dealer.town_city}}</td>
                                <td>{{dealer.address4}} </td>
                                <td>{{dealer.address5}}</td>
                            </tr>
                        </tbody>
                    </table>-->

                </section>

            </div>
        </section>


        <div ng-controller="listFeedbacks" style="background:white" class="panel">
            <header class="panel-heading">Claims </header>
            <div class="row" style="margin-bottom: 14px;margin-top:-50px;border-bottom:1px solid #ddd; background-color:#FAFAFA;padding-top:10px;margin-left:0;margin-right:0">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-1" ng-click="getDate(-1)">
                    <i class="fa fa-2x fa-chevron-left claim-icon"></i>
                </div>
                <div class="col-sm-3" style="padding:0; text-align:center">
                    &nbsp;<span class="h2">{{date | date : 'MMMM yyyy'}}</span>
                    <!--<sub style="margin-top: 0px; margin-right: -10px; float: right;">{{date|date:'MM'}}</sub>-->
                </div>
                <div class="col-sm-1">
                    <a ng-click="getDate(1)" ng-class="months < 0?'':'inactive'">
                        <i class="fa fa-2x fa-chevron-right pull-right claim-icon" ng-class="months < 0?'':'inactive'"></i>
                    </a>
                </div>
                <div class="col-sm-4">
                    <div class="btn create_new btn-default pull-right" ng-click="open(null)">
                        <i class="fa fa-plus-square-o" style="margin-right:5px"></i>&nbsp;New Claim
                    </div>
                </div>

            </div>
            <div ng-include="'AngularApps/DealerUSA/claims/listFeedbacksView.html'"></div>
        </div>

    </div>

    <!-- RIGHT SIDE-->
    <div class="col-lg-6 col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <span ng-if="false">RECENT CALL LOG</span>
                <span>CALL LOGS</span>
                <button class="btn btn-default create_new pull-right"
                        ng-click="open(null,true)" style="width:150px">
                    Add Miscellaneous
                </button>

            </header>

            <div class="panel-body">

                <div class="row" style="margin-bottom:7px">

                    <div class="col-sm-1 filter-title" style="width:65px">
                        <label class="pull-right">From</label>
                    </div>
                    <div class="col-sm-3">
                        <!-- CALENDAR -->
                        <p class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>

                            <input type="text" class="form-control input-sm"
                                   uib-datepicker-popup="yyyy-MM-dd hh-mm"
                                   ng-model="dtFrom"
                                   is-open="popup1.opened"
                                   datepicker-options="dateOptions"
                                   ng-required="true"
                                   close-text="Close"
                                   alt-input-formats="altInputFormats"
                                   ng-change="PreselectTo()" />
                        </p>
                        <!-- END CALENDAR  -->
                    </div>

                    <div class="col-sm-1 filter-title" style="width:47px">
                        <label class="pull-right">To</label>
                    </div>
                    <!-- CALENDAR -->
                    <div class="col-sm-3">
                        <p class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <input type="text" class="form-control input-sm"
                                   uib-datepicker-popup="yyyy-MM-dd hh-mm"
                                   ng-model="dtTo"
                                   is-open="popup2.opened"
                                   datepicker-options="dateOptions"
                                   ng-required="true" close-text="Close"
                                   alt-input-formats="altInputFormats"
                                   id="date2" />

                        </p>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-sm btn-default" ng-click="getRange()">Filter</button>
                    </div>
                    <!-- END CALENDAR -->
                    <div class="col-sm-1">&nbsp;</div>
                    <div class="col-sm-2">
                        <button class="btn btn-default"
                                ui-sref="detail({id:null})">
                            Show Miscellaneous
                        </button>
                    </div>
                </div>

                <!-- LAST 10 CALL LOGS -->
                <div class="col-lg-12 m-t-15" ng-if="true">
                    <!--<table class="table table-striped" style="margin-top:20px">
                    <tr style="border-bottom:1px solid #ddd">
                        <th class="col-lg-4">Dealer</th>
                        <th class="col-lg-3">Date / Who took the call</th>
                        <th class="col-lg-5">Notes</th>
                    </tr>
                    -->
                    <!-- <tr ng-repeat="log in logs |orderBy:'-date'">
                            <td>
                                <a ui-sref="detail({id:log.dealer})">
                                    {{log.usDealer.name}}
                                    {{log.usDealer === null || log.usDealer ==='' ? "Miscellaneous" : ""}}
                                    {{log.hasOwnProperty("usDealer")?'': 'Miscellaneous'}}
                                </a>
                                <button class="btn btn-default btn-xs pull-right" ng-click="openNewClaim(null,log.usDealer.customer)">

                                    <i class="fa fa-plus-square"></i>
                                    Claim
                                </button>
                            </td>
                            <td>
                                <span style="opacity:.7;float:left; margin-top:2px; margin-right:5px" class="glyphicon ion-calendar "></span>
                                {{log.usaDate|date }}
                                <br />
                                <span style="opacity:.7;float:left; margin-top:2px; margin-right:6px" class="glyphicon ion-person"></span>
                                {{log.user.userwelcome}}
                                {{log.userwelcome}}
                            </td>
                            <td>
                                {{log.note}}
                            </td>
                        </tr>
                    </table> -->
                </div>
                <!-- END LAST 10 CALL LOGS -->
                <!-- CALL LOGS TABLE WITH ALL CALL LOGS -->
                <table datatable="ng"
                       class="table table-striped table-condensed m-t-15"
                       dt-options="tableOptions" style="margin-top:1px">
                    <thead>
                        <tr>
                            <th style="pointer-events:none" class="col-lg-4">Dealer</th>
                            <th style="pointer-events:none;" class="col-lg-3">Date / From / To</th>
                            <th style="pointer-events:none" class="col-lg-5">Notes</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="log in logs |orderBy:'-date'">

                            <td>
                                <a ui-sref="detail({id:log.dealer})">
                                    &nbsp;
                                    {{log.usDealer.name}}
                                    {{log.usDealer === null || log.usDealer ==='' ? "Miscellaneous" : ""}}
                                    {{log.hasOwnProperty("usDealer")?'': 'Miscellaneous'}}
                                </a>
                                <button class="btn btn-default btn-xs pull-right" ng-click="openNewClaim(null,log.usDealer.customer)">

                                    <i class="fa fa-plus-square"></i>
                                    Claim
                                </button>
                            </td>
                            <td>
                                <span style="opacity:.7;float:left; margin-top:2px; margin-right:5px" class="glyphicon ion-calendar "></span>
                                {{log.usaDate|date }}
                                <br />
                                <span style="opacity:.7;float:left; margin-top:2px; margin-right:6px" class="glyphicon ion-person"></span>
                                {{log.from}}
                                <br />
                                <span style="opacity:.7;float:left; margin-top:2px; margin-right:6px" class="glyphicon ion-person"></span>
                                {{log.to}}
                                
                                
                            </td>
                            <td>
                                {{log.note}}
                            </td>

                        </tr>
                    </tbody>
                </table>


                <!-- END CALL LOGS TABLE WITH ALL CALL LOGS -->

            </div>
        </section>
    </div>
</div>