<h3>Product pricing</h3>
<div class="row">
  <div class="col-md-12">
    <div style="margin-bottom: 5px">
      <button class="btn btn-default mr-2" (click)="pricingModels()">Pricing models</button>
      <button class="btn btn-default mr-2" (click)="settings()">Settings</button> 
      <button class="btn btn-default mr-2" (click)="freightCosts()">Freight costs</button> 
      <button class="btn btn-default" (click)="markets()">Markets</button>
    </div> 
    <!--<hr>
    <button class="btn btn-primary" (click)="showFilter()">Existing product</button>-->
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-pricingprojects></app-pricingprojects>
    </div>
</div>

