<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="erp.Model.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="erp.Model.DAL.Properties.Settings.ConnString" connectionString="server=localhost;Port=3306;User Id=root;password=root;Persist Security Info=True;database=asaq" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <applicationSettings>
        <erp.Model.DAL.Properties.Settings>
            <setting name="MaxComponents" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MasterDistributors" serializeAs="String">
                <value>45,55,149</value>
            </setting>
            <setting name="HeadDistributors" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="AfterSalesMailAccount" serializeAs="String">
                <value>aftersales@crosswater-holdings.co.uk</value>
            </setting>
            <setting name="Crosswateruser_id" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="OrderedProductsHistoryInterval" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="DefaultExcludedContainers" serializeAs="String">
                <value>3,4,5,7</value>
            </setting>
            <setting name="Analytics_Default_DaysToShipping" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DefaultTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DealerSearchView" serializeAs="String">
                <value />
            </setting>
        </erp.Model.DAL.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
