<div class="row"></div>
<div class="row"></div>

<div class="row">

    <div class="col-lg-12">
        <section class="panel">
            
            <div class="panel-body">
                <section class="panel general">
                    <button ng-if="state=='edit'" class="btn btn-primary" ng-click="update()">Update</button>
                    <button ng-if="state=='create'" class="btn btn-primary" ng-click="update()">Create</button>
                    <button class="btn btn-default" ng-click="backToList()">Back to list</button>
                    <uib-tabset style="margin-top:10px">
                        <uib-tab heading="Summary">

                            <uib-tab-heading><span>Summary</span></uib-tab-heading>

                            <div class="col-md-7" style="margin-top:10px">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-lg-4">Factory:</label>
                                        <div class="col-lg-8">
                                            <select class="form-control" id="cboFactories" ng-model="searchParams.factory_id" ng-options="f.user_id as f.factory_code for f in factories | orderBy: 'factory_code'"></select>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4" for="txtDescription">Description:</label>
                                        <div class="col-lg-8">
                                            <textarea id="txtDescription" class="form-control" ng-model="model.notice.description"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4" for="cboCategories">Category:</label>
                                        <div class="col-lg-8">
                                            <select class="form-control" id="cboCategories" ng-model="model.notice.categoryId" ng-options="c.returncategory_id as c.category_name for c in changeNoticeCategories" >
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4" for="cboReasons">Reason:</label>
                                        <div class="col-lg-8">
                                            <select class="form-control" id="cboReasons" ng-model="model.notice.reason_id" ng-options="r.id as r.description for r in changeNoticeReasons">
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4">Date created</label>
                                        <div class="col-lg-8">
                                            {{FormatDate(model.notice.datecreated)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4">Expected ready date</label>
                                        <div class="col-lg-8">
                                            <span class="input-group">
                                                <input class="form-control" type="text" ng-model="model.notice.expectedReadyDate" uib-datepicker-popup="dd/MM/yyyy"
                                                       is-open="popupOpened.readyDate" datepicker-options="dateOptions"
                                                       close-text="Close" ng-blur="loadOrders()" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="openPopup('readyDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4">Status</label>
                                        <div class="col-lg-8">
                                            <div class="radio-inline" style="padding-top:0px !important">
                                                <label class="radio-inline" ng-repeat="s in model.statuses"><input ng-model="model.notice.status" type="radio" ng-value="s.id">{{s.value}}</label>                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="model.notice.status == 1">
                                        <label class="col-lg-4">NT report</label>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Photos">
                            <uib-tab-heading>Files</uib-tab-heading>
                            
                                <table class="prod_img" style="margin-top: 10px;" width="100%" border="0" cellspacing="0" cellpadding="5">
                                    <tbody ng-repeat="r in rows">
                                        <tr ng-if="r==0">
                                            <td>
                                                <div class="form-group">
                                                    <div>
                                                        <label>Before change</label>
                                                    </div>
                                                    <div>
                                                        <button class="btn" plupload="fileUploadMultiBefore.url" plupload-options="fileUploadMultiBefore.options"
                                                                plupload-callbacks="fileUploadMultiBefore.callbacks">
                                                            Upload files
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="r==1">
                                            <td>
                                                <div class="form-group" style="margin-top: 15px">
                                                    <div>
                                                        <label>After change</label>
                                                    </div>
                                                    <div>
                                                        <button class="btn" plupload="fileUploadMultiAfter.url" plupload-options="fileUploadMultiAfter.options"
                                                                plupload-callbacks="fileUploadMultiAfter.callbacks">
                                                            Upload files
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="330" height="20" align="center" ng-repeat="c in columns">File  {{r * 3 + c + 1}}</td>
                                        </tr>
                                        <tr>
                                            <td width="330" ng-repeat="c in columns">
                                                <div class="imageHolder">
                                                    <a ng-if="!IsPicture(r,c)"  ng-href="{{getImageUrl(r,c)}}" target="_blank">
                                                        <div ng-class="GetBootstrapDocIcon(r,c,true)" style="margin:0;position: absolute;top:50%;left:50%; margin-right: -50%;transform:translate(-50%,-50%);" title="{{i.return_image}}">
                                                            <div ng-class="GetBootstrapDocIcon(r,c)"></div>
                                                        </div>
                                                    </a>
                                                    <img ng-if="IsPicture(r,c)" ng-src="{{getImageUrl(r,c)}}" ng-show="getImageUrl(r,c)" style="width: 100%" />
                                                    <a id="deleteInspImage" ng-click="DeleteImage(r,c)" ng-show="getImageUrl(r,c)" style="position: absolute; top: 2px; right: 36px"><img src="/Images/inspection/status-remove.png" style="width: 32px" /></a>
                                                    <a ng-click="MoveUp(r,c)" ng-show="getImageUrl(r,c).length > 0 && !(r == 0 && c == 0)" style="position: absolute; top: 2px; right: 105px"><img src="/Images/inspection/up.png" style="width: 32px" /></a>
                                                    <a ng-click="MoveDown(r,c)" ng-show="getImageUrl(r,c).length > 0 && !(r == 1 && c==2)" style="position: absolute; top: 2px; right: 70px"><img src="/Images/inspection/down.png" style="width: 32px" /></a>
                                                    <a plupload="fileUpload.url"
                                                       plupload-options="fileUpload.options"
                                                       plupload-callbacks="fileUpload.callbacks[r*columns.length+c]" style="cursor: pointer; position: absolute; top: 2px; right: 2px">
                                                        <img src="/images/inspection/add.png" style="width: 32px" />
                                                    </a>
                                                </div>
                                        </tr>
                                    </tbody>
                                </table>    
                        </uib-tab>

                        <uib-tab heading="Products">
                            <uib-tab-heading>Products</uib-tab-heading>
                            <table class="table table-striped" dt-options="">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Client</th>
                                        <th style="width: 80px">Free stock</th>
                                        <th>Starting PO</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="a in model.notice.allocations">
                                        <td>{{a.product.cprod_code1}}</td>
                                        <td>{{a.product.cprod_name}}</td>
                                        <td>{{a.product.brandCompany.customer_code}}</td>
                                        <td><input type="text" class="form-control" ng-model="a.freestock"/></td>
                                        <td>
                                            <div class="form-inline">
                                                <form-group ng-repeat="o in a.orders">
                                                    <label>
                                                        <label>{{o.customer_code}}</label>
                                                        <select class="form-control" ng-options="o.orderid as o.custpo for o in o.orderList" ng-model="o.orderid" ng-class="getOrderDropDownClass(o)"></select>
                                                    </label>
                                                </form-group>
                                            </div>
                                        </td>
                                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeAllocation(a)"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="margin-top:30px">
                                <label>Add more products</label>
                                
                                <div class="form-inline" style="padding-bottom:3px;">
                                    <div class="form-group">
                                        <label>Client:</label>
                                        <select class="form-control" ng-options="c.user_id as c.customer_code for c in clients | orderBy: 'customer_code'" ng-model="searchParams.client_id"></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Category:</label>
                                        <select class="form-control" ng-options="c.category1_id as c.cat1_name for c in categories | orderBy: 'cat1_name'" ng-model="searchParams.category1_id"></select>
                                    </div>
                                    <button class="btn" ng-click="searchProducts()">Search products</button>
                                </div>
                                
                                <div class="col-md-10" style="margin-top:5px;padding-left:0px">
                                    <button class="btn pull-right" ng-click="addProducts()" ng-disabled="!showAddProducts()">Add selected</button>
                                    <table class="table table-striped" datatable="ng" dt-options="">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Description</th>
                                                <th>Add</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="p in products | filter: filterProducts | orderBy: 'cprod_code1'">
                                                <td>{{p.cprod_code1}}</td>
                                                <td>{{p.cprod_name}}</td>
                                                <td><input type="checkbox" ng-model="p.selected" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab heading="Document">
                            <uib-tab-heading>Document</uib-tab-heading>
                            <div class="col-md-8" style="margin-top:10px">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-6">Upload formatted pdf for this change</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3">
                                            <button class="btn" plupload="fileUploadDocument.url"
                                                    plupload-options="fileUploadDocument.options"
                                                    plupload-callbacks="fileUploadDocument.callbacks">
                                                Choose file
                                            </button>
                                        </div>
                                        <div style="float:left;" ng-show="model.notice.document.formatted_change_doc.length > 0">
                                            <a title="Download" ng-href="{{getDocUrl(model.notice.document.formatted_change_doc)}}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>   {{model.notice.document.formatted_change_doc}}</a>
                                        </div>
                                        <div ng-show="model.notice.document.formatted_change_doc.length > 0" style="float:left; margin-left:5px;">
                                            <a ng-click="deleteChangeNoticeDocument();" class="pointer">
                                                <img src="/Images/menus/Delete.gif" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-12">Please indicate for which documents this change has been updated on:</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3">Product drawing</label>
                                        <div class="col-lg-9">
                                            <div class="radio-inline" style="padding-top:0px !important">
                                                <label class="radio-inline"><input ng-model="model.notice.document.product_drawing" type="radio" ng-value="1">Yes</label>
                                                <label class="radio-inline"><input ng-model="model.notice.document.product_drawing" type="radio" ng-value="0">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3">Instructions</label>
                                        <div class="col-lg-9">
                                            <div class="radio-inline" style="padding-top:0px !important">
                                                <label class="radio-inline"><input ng-model="model.notice.document.instructions" type="radio" ng-value="1">Yes</label>
                                                <label class="radio-inline"><input ng-model="model.notice.document.instructions" type="radio" ng-value="0">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3">Label</label>
                                        <div class="col-lg-9">
                                            <div class="radio-inline" style="padding-top:0px !important">
                                                <label class="radio-inline"><input ng-model="model.notice.document.label" type="radio" ng-value="1">Yes</label>
                                                <label class="radio-inline"><input ng-model="model.notice.document.label" type="radio" ng-value="0">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3">Packaging</label>
                                        <div class="col-lg-9">
                                            <div class="radio-inline" style="padding-top:0px !important">
                                                <label class="radio-inline"><input ng-model="model.notice.document.packaging" type="radio" ng-value="1">Yes</label>
                                                <label class="radio-inline"><input ng-model="model.notice.document.packaging" type="radio" ng-value="0">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3">Photo</label>
                                        <div class="col-lg-9">
                                            <div class="radio-inline" style="padding-top:0px !important">
                                                <label class="radio-inline"><input ng-model="model.notice.document.photo" type="radio" ng-value="1">Yes</label>
                                                <label class="radio-inline"><input ng-model="model.notice.document.photo" type="radio" ng-value="0">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </section>
            </div>
        </section>
    </div>
    <div loading class="loading-dialog"></div>
</div>