<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="erp.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <applicationSettings>
    <erp.Model.Properties.Settings>
      <setting name="MaxComponents" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MasterDistributors" serializeAs="String">
        <value>45,55,149</value>
      </setting>
      <setting name="HeadDistributors" serializeAs="String">
        <value>42</value>
      </setting>
      <setting name="AfterSalesMailAccount" serializeAs="String">
        <value>aftersales@crosswater-holdings.co.uk</value>
      </setting>
      <setting name="Crosswateruser_id" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="OrderedProductsHistoryInterval" serializeAs="String">
        <value>36</value>
      </setting>
      <setting name="OpeningTime_WorkingDay" serializeAs="String">
        <value>09:00</value>
      </setting>
      <setting name="ClosingTime_WorkingDay" serializeAs="String">
        <value>17:00</value>
      </setting>
    </erp.Model.Properties.Settings>
    
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  
</configuration>
