<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="LinqKit" version="1.1.15" targetFramework="net471" />
  <package id="MySql.ConnectorNET.Data" version="6.8.3.2" targetFramework="net45" />
  <package id="MySql.ConnectorNET.Entity" version="6.8.3.2" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net471" />
  <package id="MySql.Data.Entity" version="6.9.12" targetFramework="net471" />
  <package id="MySql.Web" version="6.9.8" targetFramework="net45" />
  <package id="RefactorThis.GraphDiff" version="3.0.1" targetFramework="net471" />
</packages>