<table class="table" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" >
    <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th class="text-right">Claim qty</th>
            <th class="text-right">Claim value</th>
            <th class="text-right">Avg. monthly sales</th>
            <th class="text-right">Percentage</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in data">
            <td>{{d.cprod_code1}}</td>
            <td>{{d.cprod_name}}</td>
            <td class="text-right">{{d.return_qty}}</td>
            <td class="text-right">{{format(d.credit_value)}}</td>
            <td class="text-right">{{format(d.sales)}}</td>
            <td class="text-right">{{format(d.ratio*100,1)}} %</td>
        </tr>
        <tr>
            <td></td>
            <td>Other products</td>
            <td class="text-right">0</td>
            <td class="text-right">0</td>
            <td class="text-right">{{format(otherValue)}}</td>
            <td class="text-right">0</td>
        </tr>
    </tbody>
</table>