#u160
{
	background-color: #000000;
}

#u897
{
	background-color: transparent;
}

.MenuItem
{
	cursor: pointer;
}

@media (min-width: 769px)
{
	#u160_align_to_page
	{
		max-width: 1100px;
	}

	#menuu313
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u314,#u317
	{
		background-color: transparent;
	}

	#u319-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u321,#u324
	{
		background-color: transparent;
	}

	#u327-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u373,#u374
	{
		background-color: transparent;
	}

	#u377-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u409,#u410
	{
		background-color: transparent;
	}

	#u411-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u444,#u445
	{
		background-color: transparent;
	}

	#u448-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u479,#u480
	{
		background-color: transparent;
	}

	#u483-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u909-4
	{
		background-color: transparent;
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

}

@media (min-width: 481px) and (max-width: 768px)
{
	#menuu1021
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1022,#u1025
	{
		background-color: transparent;
	}

	#u1026-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		font-size: 13px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u1036,#u1037
	{
		background-color: transparent;
	}

	#u1039-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		font-size: 13px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u1050,#u1053
	{
		background-color: transparent;
	}

	#u1055-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		font-size: 13px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u1043,#u1046
	{
		background-color: transparent;
	}

	#u1049-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		font-size: 13px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u1057,#u1060
	{
		background-color: transparent;
	}

	#u1063-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		font-size: 13px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u1029,#u1030
	{
		background-color: transparent;
	}

	#u1032-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 16px;
		font-size: 13px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

}

@media (max-width: 480px)
{
	#u861,#u865,#u871
	{
		background-color: #FFFFFF;
	}

	#accordionu593,#u598,#u601-3
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u601-3.AccordionPanelTabOpen p
	{
		color: #4F4F4F;
		visibility: inherit;
	}

	#u599
	{
		border-width: 0px;
		background-color: #000000;
	}

	#u877,#menuu645
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u660,#u661
	{
		background-color: transparent;
	}

	#u664-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u667,#u668
	{
		background-color: transparent;
	}

	#u671-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u653,#u654
	{
		background-color: transparent;
	}

	#u655-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u674,#u675
	{
		background-color: transparent;
	}

	#u678-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u681,#u682
	{
		background-color: transparent;
	}

	#u685-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u646,#u647
	{
		background-color: transparent;
	}

	#u649-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		text-align: center;
		color: #FFFFFF;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

}

