
<!--<span class="h4 title-panel pull-left" style="margin-bottom:0">Create New</span>-->
<div class="btn-group btn-group-justified">
    <div ng-if="nav.parentTab()" class="btn btn-default" 
         ng-class="{'active':nav.state === 'create'}" ui-sref="create" accesskey="">
        New CA
    </div>
    <div ng-if="nav.parentTab()" class="btn btn-default" 
         ng-class="{'active' : nav.state === 'rechecks' || nav.state==='rechechekEdit'}" ui-sref="rechecks" accesskey="">
            Rechecks
    </div>
    <div ng-if="nav.parentTab()" class="btn btn-default" 
         ng-class="{'active' : nav.state === 'resolved' }" ui-sref="resolved" accesskey="">
        Resolved
    </div>
    <div ng-if="nav.state==='rechechekEdit'" class="btn btn-link btn-outline"  accesskey="">
        <span class="h4">
            <span class="pull-left" ui-sref="rechecks"><i class="glyphicon glyphicon-chevron-left"></i></span>
             Recheck Edit: {{nav.return_no}}
            <!--<i class="glyphicon glyphicon-chevron-left"></i> &nbsp;-->
        </span>
    </div>
    <div ng-if="nav.state==='resolvedDetail'" class="btn btn-link btn-outline" accesskey="">
        <span class="h4">
            <span class="pull-left" ui-sref="resolved"><i class="glyphicon glyphicon-chevron-left"></i></span>
            Resolved Detail No: {{nav.return_no}}
            <!--<i class="glyphicon glyphicon-chevron-left"></i> &nbsp;-->
        </span>
    </div>
    
</div>


<!--@*<span class="pull-right" ><i class="fa fa-user"></i> {{nav.user.name}}</span>*@-->
