<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="page-header text-center">
            GOODS IN | SALES OUT
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <a href="/ussales/stockreport" target="_blank">Stock report</a>
    </div>
    
</div>
<div class="row"> 
    <div class="col-lg-6 col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                GOODS IN
            </header>
            <div class="panel-body">
                <section class="panel general">
                    <uib-tabset>
                        <uib-tab heading="OUTSTANDING">
                            <uib-tab-heading>
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Outstanding
                            </uib-tab-heading>
                            <table datatable="ng" class="table-condensed table-hover m-t-15"  data-page-length='50' dt-instance="dt" dt-options="dtGoodsInOptions">
                                <thead>
                                     <tr>
                                         <th>PO Number</th>
                                         <th>Sage Ref</th>
                                        <th>ETA</th>
                                        <th>Order date</th>
                                        <th class="text-center">Document</th>
                                        <th class="text-right">Ordered QTY</th>
                                        <th class="text-right" style="width:20%">Received QTY</th>                                                                            
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in goodsInOrders | filter: isOutstanding" ng-click="editOrderIn(o)">
                                        <td>{{o.custpo}}</td>
                                        <td>9{{o.orderid}}</td>
                                        <td>{{formatDate(o.req_eta)}}</td>
                                        <td>{{formatDate(o.orderdate)}}</td>
                                        <td class="text-center"><a href="#"><i class="fa fa-file" aria-hidden="true"></i></a></td>
                                        <td class="text-right">{{o.orderqty}}</td>
                                        <td class="text-right">{{o.received_qty}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                        <uib-tab heading="COMPLETED">
                            <uib-tab-heading>
                                <i class="fa fa-check" aria-hidden="true"></i> Completed
                            </uib-tab-heading>
                            <table datatable="ng" class="table-condensed table-hover m-t-15"  data-page-length='50' dt-instance="dt" dt-options="dtGoodsInOptions">
                                <thead>
                                     <tr>
                                        <th>PO Number</th>
                                        <th>ETA</th>
                                        <th>Order date</th>
                                        <th class="text-center">Document</th>
                                        <th class="text-right">Ordered QTY</th>
                                        <th class="text-right" style="width:20%">Received QTY</th>                                                                            
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in goodsInOrders | filter: isCompleted" ng-click="editOrderIn(o)">
                                        <td>{{o.custpo}}</td>
                                        <td>{{formatDate(o.req_eta)}}</td>
                                        <td>{{formatDate(o.orderdate)}}</td>
                                        <td class="text-center"><a href="#"><i class="fa fa-file" aria-hidden="true"></i></a></td>
                                        <td class="text-right">{{o.orderqty}}</td>
                                        <td class="text-right">{{o.received_qty}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                     </uib-tabset>
                </section>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                SALES OUT
            </header>
            <div class="panel-body">
                <section class="panel general">
                    <uib-tabset>
                        <uib-tab heading="OUTSTANDING">
                            <uib-tab-heading>
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Outstanding
                            </uib-tab-heading>
                            <table datatable="ng" class="table-condensed table-hover m-t-15"  data-page-length='50' dt-instance="dt" dt-options="dtSaleOptions">
                                <thead>
                                     <tr>
                                        <th>Order Nr.</th>
                                        <th>PO Nr.</th>
                                         <th>Date received</th>
                                        <th>Account Nr.</th>                                        
                                        <th class="text-right">Ordered QTY</th>
                                         <th class="text-right" style="width:20%">Shipped QTY</th>                                                                            
                                         <th>Pack. list</th>
                                     </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in salesOutOrders | filter: isSalesOutstanding" ng-click="editOrderOut(o)">
                                        <td>{{o.order_no}}</td>
                                        <td>{{o.customer_order_no}}</td>
                                        <td>{{formatDate(o.date_entered)}}</td>
                                        <td>{{o.customer}}</td>                                        
                                        <td class="text-right">{{o.orderqty}}</td>
                                        <td class="text-right">{{o.despatched_qty}}</td>
                                        <td class="text-center"><a ng-href="/ussales/packinglist/?orderno={{o.order_no}}" ng-click="$event.stopPropagation()" target="_blank"><span class="glyphicon glyphicon-list-alt" style="cursor: pointer"></span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                        <uib-tab heading="COMPLETED">
                            <uib-tab-heading>
                                <i class="fa fa-check" aria-hidden="true"></i> Completed
                            </uib-tab-heading>
                            <table datatable="ng" class="table-condensed table-hover m-t-15"  data-page-length='50' dt-instance="dt" dt-options="dtSaleOptions">
                                <thead>
                                     <tr>
                                        <th>Order Nr.</th>
                                        <th>PO Nr.</th>
                                         <th>Date received</th>
                                        <th>Account Nr.</th>                                        
                                        <th class="text-right">Ordered QTY</th>
                                        <th class="text-right" style="width:20%">Shipped QTY</th>                                                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in salesOutOrders | filter: isSalesCompleted" ng-click="editOrderOut(o)">
                                        <td>{{o.order_no}}</td>
                                        <td>{{o.customer_order_no}}</td>
                                        <td>{{formatDate(o.date_entered)}}</td>
                                        <td>{{o.customer}}</td>                                        
                                        <td class="text-right">{{o.orderqty}}</td>
                                        <td class="text-right">{{o.despatched_qty}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                     </uib-tabset>
                </section>
            </div>
        </section>
    </div>
</div>
                                             