
<div class="modal-content  alert-danger">
    <div class="modal-header">
        <h4 class="modal-title">Warning!</h4>
    </div>
    <div class="modal-body">
        <span>Confirm deleting</span> <b>{{return_no}}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-xs" ng-click="cancel()">Cancel</button>
        <button class="btn btn-default btn-danger btn-xs" style="border:1px solid darkred;color:white; text-shadow:none;" ng-click="proceed()">Procced</button>
    </div>
</div>